*{
    border: 1px solid gold;
}

body {
    background-color: black;
    margin: 0% auto;
}

/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.rainbow-container{
    display: flex;
    align-items: center;
    margin: 0% auto;
    font-size: 2.5vw;
    margin-left: 15%;
    margin-right: 15%;

    background: linear-gradient(to left, #ff5757, #ff66c4, #cb6ce6, #8c52ff, #5271ff, #38b6ff, #5ce1e6, #7ed957, #c9e265, #ffde59, #ffbd59, #ff914d,
    /*repeat second time*/
    #ff5757, #ff66c4, #cb6ce6, #8c52ff, #5271ff, #38b6ff, #5ce1e6, #7ed957, #c9e265, #ffde59, #ffbd59, #ff914d,
    /*add first color again for seamless transition, no jumping*/
    #ff5757)
    ;

    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% 100%;
    animation: rainbow 6s ease-in-out infinite;
    animation-iteration-count: infinite;
    /* animation-duration: 1s; */
}

@keyframes colorchange {
    0%, 100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}

h1 {
    align-self: center;
    margin-left: 2%;
}

.form-container {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-around;
    align-items: center;
}

h2 {
    margin-right: -20%;
    color: white;
    font-size: 3vw;
}


#textfield {
    align-self: center;
    border: 1px solid gray;
    border-radius: 6px;
    /* margin-left: -50px; */
    margin-right: 10px;
    padding: 10px 15px;
    /* height: 15px; */
    background: white;
    color: gray;
    font-size: 1.5vw;
}

#findGifs {
    background: #ffde59;
    color: black;
    border-radius: 6px;
    padding: 10px 40px;
    font-size: 1.5vw;
    /* margin-left: 5px; */

}

.carousel-container {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    /* flex-flow: nowrap; */
    flex-flow: row;
    align-items: center;
    margin-left: 15%;
    margin-top: 10px;
    width: 70%;
}

#carousel-box {
    width: 70%;
    border: 10px solid #38b6ff;
    padding: 0%;
    background: black;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0px 15px 0px 15px;
}


#carousel-box > img {
    align-self: center;
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 6px;
    /* margin: 0 auto; */
    box-sizing: border-box;
}

.lnr {
    font-size: 5vw;
}

.leftScrollBtn, .rightScrollBtn {
    align-self: center;
    cursor: pointer;
    background: #38b6ff;
    color: black;
    padding: 0.5%;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
}

.bottom-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 25px;
    margin-left: 40%;
    margin-right: 40%;

}
#title, #url, #rating {
    border: 4px solid #ff66c4;
    cursor: ponter;
    margin: 10px;
    background: black;
    color: white;
    border-radius: 6px;
    padding: 10px 40px;
    font-size: 1em;
    text-align: center;
    width: 100%;
}

footer {
    text-align: flex-start;
    font-size: 2.5vw;
    background: linear-gradient(to left, #ff5757, #ff66c4, #cb6ce6, #8c52ff, #5271ff, #38b6ff, #5ce1e6, #7ed957, #c9e265, #ffde59, #ffbd59, #ff914d,
    /*repeat second time*/
    #ff5757, #ff66c4, #cb6ce6, #8c52ff, #5271ff, #38b6ff, #5ce1e6, #7ed957, #c9e265, #ffde59, #ffbd59, #ff914d,
    /*add first color again for seamless transition, no jumping*/
    #ff5757)
    ;

    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% 100%;
    animation: rainbow 6s ease-in-out infinite;
    animation-iteration-count: infinite;
    /* animation-duration: 1s; */
}

@keyframes colorchange {
    0%, 100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}
}







/* @keyframes rainbow-move {
  0% {background-position: 0%, 0%;}
  10% {background-position: 10% 0%; }
  25% {background-position: 20% 0%;}
  30% {background-position: 30% 0%;}
  40% {background-position: 40% 0%;}
  50% {background-position: 50% 0%; }
  60% {background-position: 60% 0%; }
  75% {background-position: 70% 0%;}
  80% {background-position: 80% 0%;}
  90% {background-position: 90% 0%; }
  100% {background-position: 100% 0%; }
} */
